<form {{bindAttr class="hasError :form-horizontal :new-comment"}}>
  <fieldset>
    <div class="row">
      <div class="col-sm-12">
        <legend>New Comment</legend>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        {{#if hasError}}
          <p class="text-danger">Both fields are required.</p>
        {{/if}}
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        {{view Ember.TextArea valueBinding='author' cols="30" rows="1" viewName="authorField"
          class="form-control" placeholder="Your name..." name="author"}}
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        {{view Ember.TextArea valueBinding='body' cols="30" rows="5" viewName="bodyField"
          class="form-control" placeholder="Comment here..." name="body"}}
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <button {{action 'save' this}} type="button" class="btn btn-primary">Save</button>
        {{#linkTo 'post' post class="btn btn-warning" active=false}}Cancel{{/linkTo}}
      </div>
    </div>
  </fieldset>
</form>
