<%= cache @posts do %>
  <div role="main" class="col-lg-8">
    <h1>Welcome to HelpLog</h1>

    <h2>Latest Posts</h2>

    <section class="published-posts">
      <%= render 'posts/posts' %>
    </section>
  </div>

  <div class="sidebar col-lg-4">
    <aside class="about">
      <h3>About this Blog</h3>
      <p>
        The authors on this blog are an enthusiastic software engineering team
        building web applications.
      </p>

      <p>
        We use a variety of programming languages in our day-to-day work, but
        mostly Ruby and JavaScript.
      </p>

      <p>
        We plan to use this blog to document what we have learned as a team.
        The main reason for this is so that we can record the lessons we have
        learned from the new and old technologies that we have used so that we
        can make the best decisions on what to use for our latest projects.
        If others can benefit from this, then that is great too!
      </p>
    </aside>

    <aside class="authors">
      <h3>Blog Authors</h3>

      <section class="author chris">
        <h4>Chris</h4>

        <p>
          Lorem ipsizzle daahng dawg ghetto pizzle, shiz we gonna chung elit.
          Yo sapizzle velizzle, crackalackin volutpat, suscipit stuff, gravida
          vel, i'm in the shizzle. my shizz you son of a bizzle. Sizzle
          erizzle. Gangsta izzle shiznit dapibus daahng dawg sheezy doggy.
          Maurizzle izzle nibh fo shizzle turpizzle. Get down get down izzle
          black. Pellentesque eleifend rhoncizzle its fo rizzle. In hac
          habitasse platea dictumst.
        </p>
      </section>

      <section class="author nigel">
        <h4>Nigel</h4>

        <p>
          In check it out i saw beyonces tizzles and my pizzle went crizzle
          crunk crunk. Check out this rhoncizzle, arcu we gonna chung
          tellivizzle facilisizzle, da bomb bizzle dope sem, shiznit auctizzle
          check it out felizzle a est. Suspendisse owned fo shizzle my nizzle
          augue. Get down get down egestas bling bling ut mammasay mammasa
          mamma oo sa. Prizzle consectetizzle blandit sapizzle. Etizzle
          aliquizzle, dizzle fo shizzle yo mamma accumsan tincidunt, ghetto
          sizzle ultricizzle sem, izzle vestibulizzle phat nisi mah nizzle amet
          funky fresh. Maecenizzle da bomb tortor pizzle gangster. Phasellus
          lobortizzle.
        </p>
      </section>

      <section class="author massimo">
        <h4>Massimo</h4>

        <p>
          Sizzle go to hizzle. Aliquizzle sagittis things shit maurizzle.
          Fizzle ante ipsizzle fizzle izzle faucibizzle dawg luctizzle et
          gizzle izzle cubilia Crazy; Aenizzle vestibulum. Pellentesque sheezy
          morbi izzle its fo rizzle et netus et malesuada fames pimpin' turpis
          ma nizzle. Cool tempor ghetto phat. Izzle erizzle volutpat.
          Vivamizzle tortor sizzle, scelerisque sure, crunk a, crunk vizzle,
          arcu.
        </p>
      </section>

      <section class="author jamie">
        <h4>Jamie</h4>

        <p>
          I have been building websites since around 2009. While I studied Java
          at University I built my first websites in PHP when learning the trade.
          After learning about Ruby in 2011, I saw sence and focused all of my
          spare time learning the language and popular libraries.
        </p>

        <p>
          I'm very happy to now be programming Ruby in my day job and have done
          so since 2012. I've recently been focusing a bit more time trying out
          some of the JavasScript frameworks that have emerged over the past
          year or two with EmberJS looking the most interesting.
        </p>

        <p>
          Originally I'm from the North of England but I'm currently enjoying
          the high life of London. I try to attend the London Ruby User Group
          as often as possible, as well as some of the other London tech
          meetups, including West London Hack Night.
        </p>
      </section>

      <section class="author arron">
        <h4>Arron</h4>

        <p>
          Aliquam you son of a bizzle, sizzle et blandizzle ghetto, nibh
          shizzle my nizzle crocodizzle tempizzle rizzle, sizzle mollis magna
          justo pellentesque boofron. Tellivizzle shiz, libero pizzle
          euismizzle fermentum, ipsizzle sheezy gravida felis, ut vehicula nisl
          pimpin' sed mauris. Morbi sheezy elizzle, phat quizzle, malesuada
          volutpizzle, mammasay mammasa mamma oo sa izzle, sizzle. Brizzle
          shizznit. Yo mamma placerat, nulla cursizzle izzle, yippiyo check out
          this facilisis rizzle, egizzle bibendum pede dope boofron boofron.
          Donizzle lectus.
        </p>
      </section>
    </aside>
  </div>
<% end %>
