<article class="post preview">
  <h2 class="title">
    {{#link-to 'post' model}}{{title}}{{/link-to}}
    <small class="pull-right">{{format-date updatedAt}}</small>
  </h2>
  <div class="intro">{{markdown intro}}</div>

  {{#if isLoggedIn}}
    {{#link-to 'posts.edit' model class="btn btn-warning"}}Edit{{/link-to}}
    <a {{action 'delete'}} class="btn btn-danger">Delete</a>
  {{/if}}
</article>
