<form class="form-horizontal">
  <fieldset>
    <div class="row">
      <div class="col-sm-12">
        <legend>New Comment</legend>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        {{view Ember.TextArea valueBinding='body' cols="30" rows="5" viewName="bodyField" class="form-control" placeholder="Comment here..."}}
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <button {{action 'save' this}} type="button" class="btn btn-primary">Save</button>
        {{#linkTo 'post' post class="btn btn-warning" active=false}}Cancel{{/linkTo}}
      </div>
    </div>
  </fieldset>
</form>
