<aside class="panel panel-default about">
  <div class="panel-heading">
    About this Blog
  </div>

  <div class="panel-body text-muted">
    <p>
      The authors on this blog are an enthusiastic software engineering team
      building web applications.
    </p>

    <p>
      We use a variety of programming languages in our day-to-day work, but
      mostly Ruby and JavaScript.
    </p>

    <p>
      We plan to use this blog to document what we have learned as a team.
      The main reason for this is so that we can record the lessons we have
      learned from the new and old technologies that we have used so that we
      can make the best decisions on what to use for our latest projects.
      If others can benefit from this, then that is great too!
    </p>
  </div>

  <div class="panel-footer">
    Contact us: <a href="mailto:helplog@gmail.com">helplog@gmail.com</a>
  </div>
</aside>
