<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <p class="lead text-center text-muted">
        <small>
          {{#linkTo 'posts'}}Home{{/linkTo}}
        </small>
      </p>
    </div>

    <div class="col-lg-8">
      <p class="lead text-center text-info">
        <small>A software engineering blog focusing on the web</small>
      </p>
    </div>

    <div class="col-lg-2">
      <p class="lead text-center text-muted">
        <small>
          {{#if isLoggedIn}}
            {{#linkTo 'sessions.destroy'}}Logout{{/linkTo}}
          {{else}}
            <a href="#" {{action 'showLoginForm'}}>Login</a>
          {{/if}}
        </small>
      </p>
    </div>
  </div>

  {{#if isLoggingIn}}
    {{render 'login'}}
  {{/if}}

  {{outlet}}
</div>
