<div class="comment">
  {{#bs-panel footer=authorMessage footerClass="text-muted"}}
    {{body}}
  {{/bs-panel}}

  {{#if isLoggedIn}}
    <button class="btn btn-warn" {{action 'deleteComment'}}>Delete</button>
  {{/if}}
</div>
