<div class="comment">
  <div class="panel panel-default">
    <div class="panel-body">
      <p>{{body}}</p>
    </div>

    <div class="panel-footer">
      <small class="text-muted">By: {{author}}</small>
    </div>
  </div>

  {{#if isLoggedIn}}
    <button class="btn btn-warn" {{action 'deleteComment' this}}>Delete</button>
  {{/if}}
</div>
