<div class="comment">
  <div class="panel panel-default">
    <div class="panel-body">{{body}}</div>
  </div>

  {{#if isLoggedIn}}
    <button class="btn btn-warn" {{action 'deleteComment' this}}>Delete</button>
  {{/if}}
</div>
