<div class="row">
  <div role="main" class="col-lg-8">
    <h1>{{title}}</h1>
    <div class="body">{{markdown body}}</div>
    {{#if isLoggedIn}}
      {{#linkTo 'posts.edit' this class="btn btn-warning"}}Edit{{/linkTo}}
      <button {{action 'delete'}} type="button" class="btn btn-danger">Delete</button>
    {{/if}}
  </div>

  <div class="col-lg-4">
    {{partial "about"}}
  </div>
</div>
