<div class="row">
  <div role="main" class="col-lg-8">
    <h1>Latest Posts</h1>

    {{#if isLoggedIn}}
      {{#if hasDraftPosts}}
        <h2>Draft Posts</h2>

        <section class="posts drafts">
          {{#each post in draftPosts}}
            {{render 'posts/preview' post}}
          {{/each}}
        </section>

        <hr />

        <h2>Published Posts</h2>
      {{/if}}
    {{/if}}

    <section class="posts">
      {{#each post in publishedPosts}}
        {{render 'posts/preview' post}}
      {{/each}}
    </section>

    {{#if isLoggedIn}}
      <hr />
      {{#linkTo 'posts.new' class="btn btn-primary"}}New Post{{/linkTo}}
    {{/if}}
  </div>

  <div class="col-lg-4">
    {{partial "about"}}
  </div>
</div>
